<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
 
<div class="container">
    <div class="topnav">
        <a class="active" routerLink="employees">Employee Management</a>
        <a routerLink="employees"></a>
        <a routerLink="/addEmployee">Add Employee</a>
        <div class="container">
            <div class="row">
                       <div id="custom-search-input">
                                        <div class="input-group col-md-12" style="text-align: center">
                                            <input type="text" class="search-query form-control" placeholder="Search"  name="searchKeyword" [(ngModel)]="searchKeyword"/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-danger" type="button" (click)="searchEmployee()">
                                                    <span class=" glyphicon glyphicon-search"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
            </div>
            </div>
        </div>
    <div class="row col-md-6 custyle">
        <!-- col-md-offset-2 -->
    <table class="table table-striped custab">
        <!--  -->
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Address</th>
            <th>Pin Code</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Marital Status</th>
            <th>Birthday</th>
            <th>Profession</th>
            <th>Date of Joining</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.address}}</td>
            <td>{{employee.pinCode}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.married}}</td>
            <td>{{employee.birthday | date}}</td>
            <td>{{employee.profession}}</td>
            <td>{{employee.dateofjoining | date}}</td>
            <td>{{employee.salary}}</td>
            <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteEmployee(employee.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
            <!-- <td class="text-center"><button class="btn btn-primary btn-xs (click)="routerLink="employee/{{employee.id}}"><span class="glyphicon glyphicon-remove"></span> Update</button></td>  -->
            <a class="badge badge-warning" routerLink="/employee/{{employee.id }}">
                Edit
              </a>
          </tr>
    </tbody>
    </table>
    </div>
</div>